@import "../vendor/tuktuk/__vendor.styl"
@import "../vendor/tuktuk/__theme.styl"

@import url(http://fonts.googleapis.com/css?family=Stalinist+One);


body
	font-family: 'Stalinist One', cursive

.bloque
	min-height: 300px
	height: auto

p
	margin-top: 20px
	font-size:1.6em

.icon.big
	font-size: 4em

*
	font-family: 'Pathway Gothic One', sans-serif

.logoimage
	position: absolute
	top: 70px
	left: 10%
	width: 120px
	height: 93px
	background: url('../images/logo.png') no-repeat
	background-size: 120px